POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
POSTGRES_DB=rating_service

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

RATING_R_MIN=0.0
RATING_R_MAX=5000.0
RATING_R_AVG=2400.0
RATING_G=0.5
RATING_SIGMA_INIT=25.0
RATING_D=4.0
